.sidebar {
  @apply fixed top-0 w-72 z-20;
  left: calc(var(--sidebar-width) * -1);
  background-color: var(--menu-bg-color);
  transition: left 0.4s;

  &.show {
    left: 0;
    transition: left 0.4s;
  }

  &-header {
    @apply flex items-center justify-between px-4 py-2;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    height: var(--sidebar-header-height);
    border-bottom: 1px solid rgb(241, 241, 241);
  }

  &-content {
    @apply px-4 py-2;
    height: calc(100vh - var(--sidebar-header-height));
    max-height: calc(100vh - var(--sidebar-header-height));
    overflow-y: auto;
    background-color: var(--bg-content-primary);
  }
}
