.auth-page {
  @apply w-screen h-screen bg-white flex justify-center items-center;

  .login-form {
    @apply p-10 rounded-md;
    border: 1px solid #dadce0;

    .logo {
      @apply flex justify-center;
    }

    .login-method {
      @apply flex flex-col items-center;
    }
  }

  .boxAuth {
    background: #f8f8f8;
    margin: 120px 50px;
    padding: 50px 20px;
    border-radius: 10px;
  }
  .MuiOutlinedInput-input {
    border-radius: 6px;
  }
  .MuiOutlinedInput-notchedOutline {
    border-radius: 6px;
  }
}
