.S18Table {
  @apply px-4;

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      &-title {
        margin: 0;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.6;
        letter-spacing: 0.0075em;
      }
    }

    &-right {
      &-toolbar {
        display: flex;
      }
    }
  }

  &Content {
    display: grid;
    grid-template-rows: auto auto auto;
    max-width: 100%;
    overflow-x: auto;

    &-header {
      display: grid;
      grid-template-rows: auto;

      .cell {
        border-bottom: 1px solid rgba(224, 224, 224, 1);
        min-height: 50px;
        display: flex;
        align-items: center
      }
    }

    &-body {
      overflow-y: auto;
      max-width: 100%;

      &-row {
        display: grid;
        align-items: center;

        .cell {
          border-bottom: 1px solid rgba(224, 224, 224, 1);
          min-height: 50px;
          display: flex;
          align-items: center;
        }
      }


    }

    &-footer {
      display: grid;
      grid-template-rows: auto;
    }
  }
}
