.menu-dropdown {
  position: relative;
  &.hide-child {
    .menu-dropdown-content {
      display: none;
    }
  }
  .menu-dropdown-content {
    visibility: hidden;
    top: 200%;
    transition: 0.2s ease-out;
    background-color: transparent;

    .items {
      @apply bg-white;
      transition: 0.2s ease-out;
      opacity: 0;
      margin-top: 1px;
      display: grid;
      grid-template-columns: auto auto;
      box-shadow: rgba(33, 35, 38, .1) 0px 10px 10px -10px;

      a {
        @apply flex items-center py-3;
        color: black;
      }
    }
  }

  &:hover {
    .menu-dropdown-content {
      visibility: visible;
      top: 100%;

      .items {
        opacity: 1;
      }
    }
  }
}
