.page-title {
  .title {
    color: #081c42;
    font-size: 18px;
    text-transform: inherit;
    font-weight: 500;
  }

  a {
    color: #2b2b2b;
    font-size: 14px;
    @apply flex items-center;
  }
}
