.page {
  @apply mt-3;

  .MuiPaper-elevation4 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  .table-title {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    text-transform: inherit;
    color: rgb(7, 25, 62);
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.375rem !important;
    height: 0.6rem !important;
  }

  &::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(203, 213, 225, var(--tw-bg-opacity)) !important;
    border-radius: 0.25rem !important;
  }

  &::-webkit-scrollbar-track {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(241, 245, 249, var(--tw-bg-opacity)) !important;
    border-radius: 0.25rem !important;
  }
}
.MuiTable-root {
  &.small {
    .MuiTableCell-root {
      padding: 8px;
    }
  }
  .MuiTableCell-root {
    padding: 12px;
  }
  .MuiIconButton-root {
    padding: 2px;
  }
}

.MuiTableCell-root {
  &.footer-no-data {
    padding: 15px !important;
    color: red;
  }
}

.MuiInputBase-inputSizeSmall {
  font-size: 14px;
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 0;
  border: 1px solid #e8e8e8;
}

.MuiAutocomplete-input {
  padding: 5px;
}
.MuiInputBase-input {
  line-height: 1em;
}
.MuiTablePagination-select.MuiInputBase-input {
  min-height: 0em !important;
}


.MuiListItemButton-root {
  padding: 3px 8px;
}

span.MuiButtonBase-root.MuiCheckbox-root {
  padding: 0 5px 0 10px;
}

.s18-label-small {
  .MuiTypography-root {
    font-size: 0.75rem !important;
  }
}
