// Reset CSS
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

*::after,
*::before {
  box-sizing: border-box;
}
