.header {
  @apply fixed top-0 left-0 w-full z-[200];
  box-shadow: 0px 3px 7px #00000014;
  background: transparent linear-gradient(90deg, #073052 0%, #081C42 100%) 0% 0% no-repeat padding-box !important;
  background-color: var(--menu-bg-color);
  color: white;

  &-container {
    @apply flex items-center justify-between w-full py-0.5;
    padding-left: var(--main-content-px);
    padding-right: var(--main-content-px);
  }

}
