.MuiButton-root {
  min-width: 100px;
  padding: 5px 10px !important;
  text-transform: none !important;
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 23px;
  box-shadow: none;
  border-radius: 2px;
}

.MuiButton-startIcon {
  margin: 0 5px 0 0;
}
button.primary {
  background-color: rgb(7, 25, 62);
  color: rgb(255, 255, 255);
}
button.primary:hover {
  background-color: rgb(7, 25, 62);
  color: rgb(255, 255, 255);
}
button.default {
  background-color: rgb(255, 255, 255);
  border: 1px inset rgb(91, 92, 92);
  color: rgb(91, 92, 92);
}
button.default:hover {
  background-color: rgb(7, 25, 62);
  border: 1px solid rgb(7, 25, 62);
  color: rgb(255, 255, 255);
}
button.success {
  background-color: green;
}
button.success:hover {
  background-color: rgb(15, 131, 15);
}
.iconAdd {
  color: #1565c0;
}

.iconEdit {
  color: #07193e;
}

.iconDelete {
  color: #d32f2f;
}
button.back {
  background-color: rgb(99, 99, 99);
}
button.back:hover {
  background-color: rgb(99, 99, 99);
}
