.link-title,
.dropdown-title {
  @apply flex items-center px-2 py-3 w-full cursor-pointer;
  color: #2c323f;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.7;

  &:hover {
    color: #0f4080;
    opacity: .75;
  }

  &.active {
    color: #1a73e8;
    opacity: 1;
  }
}

.dropdown {
  transition: .75s;

  &-content {
    max-height: 0;
    transition: .75s;
    overflow: hidden;
  }

  .expand-icon {
    transition: all .75s;
  }

  &.expand {
    @apply bg-slate-50;
    transition: .75s;

    .dropdown-content {
      transition: all .75s;
      max-height: 50rem;
      overflow: hidden;
    }

    .expand-icon {
      transition: all .75s;
      transform: rotate(180deg);
    }
  }
}
