/* ===== Google Font Import - Poppins ===== */

@import "./styles/index";

.bg-overlay.active {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 10;
  top: 0;
}
.css-19kzrtu {
  padding: 0px;
}

.unset {
  position: unset;
}

.auth-page {
  background-image: url(mis_bg.svg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}
