.alert-wrap {
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 0.6s ease-out;
  transform: translateX(100%);

  &.show {
    opacity: 1;
    transform: translateX(-100%);
  }
}
